# Cadena de Conexión a la Base de Datos SQLite
ConnectionStrings__DefaultConnection=Data Source=mesasitec.db

# Configuración Temporal del Seeder de Base de Datos
SEED_FECHA_BASE=2026-01-15T08:00:00Z
SEED_PASSWORD=Sitec.2026
#puerto Swagger
ASPNETCORE_URLS=http://localhost:5080

# Configuración de Tenants Semilla
TENANT_NORTE_ID=c8d30e12-4211-4e78-9812-70139b8bc123
TENANT_NORTE_NOMBRE=Cooperativa Norte
TENANT_SUR_ID=f9e41f23-5322-5f89-0923-81240c9cd234
TENANT_SUR_NOMBRE=Bufete Sur

# Configuración de Usuarios Semilla - Cooperativa Norte
USER_ADMIN_NORTE_ID=900876c1-baa6-42b7-b994-bb5d94e94c0d
USER_ADMIN_NORTE_EMAIL=admin@norte.test
USER_ADMIN_NORTE_NOMBRE=Administrador Norte

USER_AGENTE1_NORTE_ID=d390ded3-7b90-4853-9e79-01e65bdfec31
USER_AGENTE1_NORTE_EMAIL=agente1@norte.test
USER_AGENTE1_NORTE_NOMBRE=Agente1 Norte

USER_AGENTE2_NORTE_ID=e8271323-c19c-4974-a1c4-f7980a66870b
USER_AGENTE2_NORTE_EMAIL=agente2@norte.test
USER_AGENTE2_NORTE_NOMBRE=Agente2 Norte

USER_USER1_NORTE_ID=67c92be3-2ffc-4823-ac1f-84ece2512ec9
USER_USER1_NORTE_EMAIL=user1@norte.test
USER_USER1_NORTE_NOMBRE=Solicitante1 Norte

USER_USER2_NORTE_ID=856df607-f5ea-4669-b9af-383e392d7f9b
USER_USER2_NORTE_EMAIL=user2@norte.test
USER_USER2_NORTE_NOMBRE=Solicitante2 Norte

# Configuración de Usuarios Semilla - Bufete Sur
USER_ADMIN_SUR_ID=5910a44b-2279-4376-95e0-947c065efbd4
USER_ADMIN_SUR_EMAIL=admin@sur.test
USER_ADMIN_SUR_NOMBRE=Administrador Sur

USER_USER1_SUR_ID=5b58669f-f273-4f09-9aeb-e64470289b74
USER_USER1_SUR_EMAIL=user1@sur.test
USER_USER1_SUR_NOMBRE=Solicitante1 Sur

# Configuración de Categorías Semilla - Cooperativa Norte
CAT_INCIDENTE_NORTE_ID=69c0b71b-0636-45ce-9ae4-4886e3d49b89
CAT_INCIDENTE_NORTE_NOMBRE=Incidente
CAT_INCIDENTE_NORTE_SLA=8

CAT_REQUERIMIENTO_NORTE_ID=37d8ddc9-4921-4548-9a99-659c476d6ab2
CAT_REQUERIMIENTO_NORTE_NOMBRE=Requerimiento
CAT_REQUERIMIENTO_NORTE_SLA=40

CAT_CONSULTA_NORTE_ID=74fe0118-8c15-4415-b910-7f6828f16ffd
CAT_CONSULTA_NORTE_NOMBRE=Consulta
CAT_CONSULTA_NORTE_SLA=24

CAT_CRITICA_NORTE_ID=909c4c95-0658-4bd4-986b-3d7175dd4925
CAT_CRITICA_NORTE_NOMBRE=Falla crítica
CAT_CRITICA_NORTE_SLA=4

# Configuración de Categorías Semilla - Bufete Sur
CAT_INCIDENTE_SUR_ID=1145f9bc-eb1b-47a2-bfbf-9fd5eda47723
CAT_INCIDENTE_SUR_NOMBRE=Incidente
CAT_INCIDENTE_SUR_SLA=8

CAT_REQUERIMIENTO_SUR_ID=508afc62-962a-4d1f-b6ad-22486f8343a2
CAT_REQUERIMIENTO_SUR_NOMBRE=Requerimiento
CAT_REQUERIMIENTO_SUR_SLA=40

CAT_CONSULTA_SUR_ID=2d91be78-93e8-4c9d-803e-249a01b8ffd2
CAT_CONSULTA_SUR_NOMBRE=Consulta
CAT_CONSULTA_SUR_SLA=24

CAT_CRITICA_SUR_ID=1782ff0d-8b6c-41be-98ae-489e87b4120c
CAT_CRITICA_SUR_NOMBRE=Falla crítica
CAT_CRITICA_SUR_SLA=4

# Clave Secreta para Firma de Tokens JWT (HS256)
JWT_SECRET=6c978f74-875a-4b99-87e5-0bd9e4fa6961

# Configuración del Entorno de ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5080

# Configuración del Frontend (Vue 3 + Vite)
VITE_API_URL=http://localhost:5080
FRONTEND_URL=http://localhost:5173
